n8n/workflows/email_intake.json
{
  "updatedAt": "2026-05-17T06:36:07.695Z",
  "createdAt": "2026-05-17T00:47:42.450Z",
  "id": "Qj8sWSe9Enz7EH5Q",
  "name": "BOLDR Email Intake",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Email Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        340
      ],
      "id": "fd5c1e64-c57d-4eac-8537-4c5dbbe10eb5",
      "webhookId": "9fe444e0-68d3-4b16-b564-e7346389d6b1"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "n1",
              "name": "message",
              "value": "={{ $json.body.message ?? $json.body.text ?? $json.message ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "n2",
              "name": "channel",
              "value": "email",
              "type": "string"
            },
            {
              "id": "n3",
              "name": "sender_id",
              "value": "={{ $json.body.sender_id ?? $json.body.from ?? $json.sender_id ?? \"anonymous\" }}",
              "type": "string"
            },
            {
              "id": "n4",
              "name": "sender_name",
              "value": "={{ $json.body.sender_name ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "n5",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp ?? $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "n6",
              "name": "thread_id",
              "value": "={{ $json.body.thread_id ?? \"TH-\" + $now.format(\"yyyyMMddHHmmss\") }}",
              "type": "string"
            },
            {
              "id": "n7",
              "name": "subject",
              "value": "={{ $json.body.subject ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "n8",
              "name": "email_id",
              "value": "={{ $json.body.email_id ?? \"\" }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Normalize Email Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        340
      ],
      "notes": "Map Gmail fields to BOLDR intake schema",
      "id": "92184b73-73f9-4b43-9fae-f225e1a3032e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.85:8000/api/v1/intake",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  message: $json.message,\n  channel: $json.channel,\n  sender_id: $json.sender_id,\n  sender_name: $json.sender_name,\n  timestamp: $json.timestamp,\n  thread_id: $json.thread_id,\n  subject: $json.subject,\n  source_id: $json.email_id\n}) }}",
        "options": {}
      },
      "name": "Forward to Intelligence Loop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        340
      ],
      "notes": "POST normalized email to main BOLDR Intelligence Loop webhook",
      "id": "be808205-f516-42ce-82f4-e77caca0d45e"
    }
  ],
  "connections": {
    "Email Webhook": {
      "main": [
        [
          {
            "node": "Normalize Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Email Data": {
      "main": [
        [
          {
            "node": "Forward to Intelligence Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "175a7dbb-b1c5-4d97-9108-8bd206e8bbb2",
  "activeVersionId": "175a7dbb-b1c5-4d97-9108-8bd206e8bbb2",
  "versionCounter": 22,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-17T00:47:42.451Z",
      "createdAt": "2026-05-17T00:47:42.451Z",
      "role": "workflow:owner",
      "workflowId": "Qj8sWSe9Enz7EH5Q",
      "projectId": "70ZbVsvKqCtEQm0z",
      "project": {
        "updatedAt": "2026-05-17T00:45:09.952Z",
        "createdAt": "2026-05-17T00:44:53.395Z",
        "id": "70ZbVsvKqCtEQm0z",
        "name": "Steve Ng <steve@digitalfutures.sg>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-17T06:36:07.695Z",
    "createdAt": "2026-05-17T06:36:07.695Z",
    "versionId": "175a7dbb-b1c5-4d97-9108-8bd206e8bbb2",
    "workflowId": "Qj8sWSe9Enz7EH5Q",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "email",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "Email Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          340
        ],
        "id": "fd5c1e64-c57d-4eac-8537-4c5dbbe10eb5",
        "webhookId": "9fe444e0-68d3-4b16-b564-e7346389d6b1"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "n1",
                "name": "message",
                "value": "={{ $json.body.message ?? $json.body.text ?? $json.message ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "n2",
                "name": "channel",
                "value": "email",
                "type": "string"
              },
              {
                "id": "n3",
                "name": "sender_id",
                "value": "={{ $json.body.sender_id ?? $json.body.from ?? $json.sender_id ?? \"anonymous\" }}",
                "type": "string"
              },
              {
                "id": "n4",
                "name": "sender_name",
                "value": "={{ $json.body.sender_name ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "n5",
                "name": "timestamp",
                "value": "={{ $json.body.timestamp ?? $now.toISO() }}",
                "type": "string"
              },
              {
                "id": "n6",
                "name": "thread_id",
                "value": "={{ $json.body.thread_id ?? \"TH-\" + $now.format(\"yyyyMMddHHmmss\") }}",
                "type": "string"
              },
              {
                "id": "n7",
                "name": "subject",
                "value": "={{ $json.body.subject ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "n8",
                "name": "email_id",
                "value": "={{ $json.body.email_id ?? \"\" }}",
                "type": "string"
              }
            ]
          }
        },
        "name": "Normalize Email Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          460,
          340
        ],
        "notes": "Map Gmail fields to BOLDR intake schema",
        "id": "92184b73-73f9-4b43-9fae-f225e1a3032e"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://192.168.1.85:8000/api/v1/intake",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  message: $json.message,\n  channel: $json.channel,\n  sender_id: $json.sender_id,\n  sender_name: $json.sender_name,\n  timestamp: $json.timestamp,\n  thread_id: $json.thread_id,\n  subject: $json.subject,\n  source_id: $json.email_id\n}) }}",
          "options": {}
        },
        "name": "Forward to Intelligence Loop",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          680,
          340
        ],
        "notes": "POST normalized email to main BOLDR Intelligence Loop webhook",
        "id": "be808205-f516-42ce-82f4-e77caca0d45e"
      }
    ],
    "connections": {
      "Email Webhook": {
        "main": [
          [
            {
              "node": "Normalize Email Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Email Data": {
        "main": [
          [
            {
              "node": "Forward to Intelligence Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Steve Ng",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-17T06:36:07.733Z",
        "id": 135,
        "workflowId": "Qj8sWSe9Enz7EH5Q",
        "versionId": "175a7dbb-b1c5-4d97-9108-8bd206e8bbb2",
        "event": "activated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T06:36:07.781Z",
        "id": 137,
        "workflowId": "Qj8sWSe9Enz7EH5Q",
        "versionId": "175a7dbb-b1c5-4d97-9108-8bd206e8bbb2",
        "event": "activated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T06:36:07.720Z",
        "id": 134,
        "workflowId": "Qj8sWSe9Enz7EH5Q",
        "versionId": "175a7dbb-b1c5-4d97-9108-8bd206e8bbb2",
        "event": "deactivated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T06:36:07.770Z",
        "id": 136,
        "workflowId": "Qj8sWSe9Enz7EH5Q",
        "versionId": "175a7dbb-b1c5-4d97-9108-8bd206e8bbb2",
        "event": "deactivated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      }
    ]
  }
}