n8n/workflows/instagram_intake.json
{
  "updatedAt": "2026-05-17T05:14:10.575Z",
  "createdAt": "2026-05-17T00:47:42.488Z",
  "id": "LBAM9AM2t14lWrLv",
  "name": "BOLDR Instagram DM Intake",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-dm",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Instagram DM Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        340
      ],
      "notes": "Receives Instagram DM events via Meta webhook subscription",
      "id": "936e74d1-5f04-4fc7-b527-65099dd36c7d",
      "webhookId": "c083b7c2-730c-4347-aa29-242e4587dff7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "channel",
              "value": "={{ $json.channel ?? 'instagram' }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "customer_id",
              "value": "={{ $json.customer_id ?? '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "message",
              "value": "={{ $json.message ?? '' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "platform",
              "value": "={{ $json.metadata.platform ?? 'instagram' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Normalize Instagram Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ],
      "notes": "Map Instagram webhook payload to BOLDR intake schema",
      "id": "c53e6de5-60d2-4b28-b351-8e9fc910293b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.85:8000/api/v1/intake",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  message: $json.message,\n  channel: $json.channel,\n  sender_id: $json.sender_id,\n  sender_name: $json.sender_name,\n  timestamp: $json.timestamp,\n  thread_id: $json.thread_id,\n  source_id: $json.ig_message_id\n}) }}",
        "options": {}
      },
      "name": "Forward to Intelligence Loop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "notes": "POST normalized Instagram DM to main BOLDR Intelligence Loop webhook",
      "id": "4be78c1b-37f7-4cee-8e7c-5a9973cff31c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"received\",\"message\":\"Your Instagram message has been received. We'll respond shortly!\"}"
      },
      "name": "Respond to Instagram",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "id": "5f5144f0-ec76-4f29-8a55-ead215274e37"
    }
  ],
  "connections": {
    "Instagram DM Webhook": {
      "main": [
        [
          {
            "node": "Normalize Instagram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Instagram Data": {
      "main": [
        [
          {
            "node": "Forward to Intelligence Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forward to Intelligence Loop": {
      "main": [
        [
          {
            "node": "Respond to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
  "activeVersionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
  "versionCounter": 28,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-17T00:47:42.490Z",
      "createdAt": "2026-05-17T00:47:42.490Z",
      "role": "workflow:owner",
      "workflowId": "LBAM9AM2t14lWrLv",
      "projectId": "70ZbVsvKqCtEQm0z",
      "project": {
        "updatedAt": "2026-05-17T00:45:09.952Z",
        "createdAt": "2026-05-17T00:44:53.395Z",
        "id": "70ZbVsvKqCtEQm0z",
        "name": "Steve Ng <steve@digitalfutures.sg>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-17T05:14:10.576Z",
    "createdAt": "2026-05-17T05:14:10.576Z",
    "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
    "workflowId": "LBAM9AM2t14lWrLv",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "instagram-dm",
          "responseMode": "responseNode",
          "options": {}
        },
        "name": "Instagram DM Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          340
        ],
        "notes": "Receives Instagram DM events via Meta webhook subscription",
        "id": "936e74d1-5f04-4fc7-b527-65099dd36c7d",
        "webhookId": "c083b7c2-730c-4347-aa29-242e4587dff7"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "channel",
                "value": "={{ $json.channel ?? 'instagram' }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "customer_id",
                "value": "={{ $json.customer_id ?? '' }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "message",
                "value": "={{ $json.message ?? '' }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "platform",
                "value": "={{ $json.metadata.platform ?? 'instagram' }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "name": "Normalize Instagram Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          680,
          300
        ],
        "notes": "Map Instagram webhook payload to BOLDR intake schema",
        "id": "c53e6de5-60d2-4b28-b351-8e9fc910293b"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://192.168.1.85:8000/api/v1/intake",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  message: $json.message,\n  channel: $json.channel,\n  sender_id: $json.sender_id,\n  sender_name: $json.sender_name,\n  timestamp: $json.timestamp,\n  thread_id: $json.thread_id,\n  source_id: $json.ig_message_id\n}) }}",
          "options": {}
        },
        "name": "Forward to Intelligence Loop",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          300
        ],
        "notes": "POST normalized Instagram DM to main BOLDR Intelligence Loop webhook",
        "id": "4be78c1b-37f7-4cee-8e7c-5a9973cff31c"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"status\":\"received\",\"message\":\"Your Instagram message has been received. We'll respond shortly!\"}"
        },
        "name": "Respond to Instagram",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          860,
          300
        ],
        "id": "5f5144f0-ec76-4f29-8a55-ead215274e37"
      }
    ],
    "connections": {
      "Instagram DM Webhook": {
        "main": [
          [
            {
              "node": "Normalize Instagram Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Instagram Data": {
        "main": [
          [
            {
              "node": "Forward to Intelligence Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Forward to Intelligence Loop": {
        "main": [
          [
            {
              "node": "Respond to Instagram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Steve Ng",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-17T05:14:10.645Z",
        "id": 35,
        "workflowId": "LBAM9AM2t14lWrLv",
        "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
        "event": "activated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T05:14:11.214Z",
        "id": 43,
        "workflowId": "LBAM9AM2t14lWrLv",
        "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
        "event": "activated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T05:25:01.488Z",
        "id": 49,
        "workflowId": "LBAM9AM2t14lWrLv",
        "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
        "event": "activated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T05:14:10.632Z",
        "id": 34,
        "workflowId": "LBAM9AM2t14lWrLv",
        "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
        "event": "deactivated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T05:14:11.204Z",
        "id": 42,
        "workflowId": "LBAM9AM2t14lWrLv",
        "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
        "event": "deactivated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T05:25:01.477Z",
        "id": 48,
        "workflowId": "LBAM9AM2t14lWrLv",
        "versionId": "0469f451-9a0b-4bb7-add7-a2147fd89ad6",
        "event": "deactivated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      }
    ]
  }
}