n8n/workflows/whatsapp_intake.json
{
  "updatedAt": "2026-05-17T06:36:07.322Z",
  "createdAt": "2026-05-17T00:47:42.520Z",
  "id": "9Z1ZC5CMijLlTRiJ",
  "name": "BOLDR WhatsApp Intake",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        340
      ],
      "notes": "Receives WhatsApp Business API messages via webhook",
      "id": "3fe484ee-9fb5-4a43-8d21-a65bff21ef1f",
      "webhookId": "fac90376-32c4-4782-bc75-3c3e09102fa8"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "n1",
              "name": "message",
              "value": "={{ $json.body.message ?? $json.body.text ?? $json.message ?? $json.text ?? \"\" }}",
              "type": "string"
            },
            {
              "id": "n2",
              "name": "channel",
              "value": "={{ $json.body.channel ?? $json.channel ?? \"whatsapp\" }}",
              "type": "string"
            },
            {
              "id": "n3",
              "name": "customer_id",
              "value": "={{ $json.body.sender_id ?? $json.body.from ?? $json.sender_id ?? \"anonymous\" }}",
              "type": "string"
            },
            {
              "id": "n4",
              "name": "platform",
              "value": "whatsapp",
              "type": "string"
            }
          ]
        }
      },
      "name": "Normalize WhatsApp Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ],
      "notes": "Map WhatsApp Business API payload to BOLDR intake schema",
      "id": "bee1780e-2e9f-4648-b785-822002968ccf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.85:8000/api/v1/intake",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  message: $json.message,\n  channel: $json.channel,\n  sender_id: $json.sender_id,\n  sender_name: $json.sender_name,\n  timestamp: $json.timestamp,\n  thread_id: $json.thread_id,\n  source_id: $json.wa_message_id\n}) }}",
        "options": {}
      },
      "name": "Forward to Intelligence Loop",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ],
      "notes": "POST normalized WhatsApp message to main BOLDR Intelligence Loop webhook",
      "id": "45a6757a-82a5-4482-ac81-4712cdfaf7a6"
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp Data": {
      "main": [
        [
          {
            "node": "Forward to Intelligence Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3bcf00d9-406e-4fa3-8996-11b9118358de",
  "activeVersionId": "3bcf00d9-406e-4fa3-8996-11b9118358de",
  "versionCounter": 43,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-17T00:47:42.521Z",
      "createdAt": "2026-05-17T00:47:42.521Z",
      "role": "workflow:owner",
      "workflowId": "9Z1ZC5CMijLlTRiJ",
      "projectId": "70ZbVsvKqCtEQm0z",
      "project": {
        "updatedAt": "2026-05-17T00:45:09.952Z",
        "createdAt": "2026-05-17T00:44:53.395Z",
        "id": "70ZbVsvKqCtEQm0z",
        "name": "Steve Ng <steve@digitalfutures.sg>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-17T06:36:07.325Z",
    "createdAt": "2026-05-17T06:36:07.325Z",
    "versionId": "3bcf00d9-406e-4fa3-8996-11b9118358de",
    "workflowId": "9Z1ZC5CMijLlTRiJ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "WhatsApp Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          240,
          340
        ],
        "notes": "Receives WhatsApp Business API messages via webhook",
        "id": "3fe484ee-9fb5-4a43-8d21-a65bff21ef1f",
        "webhookId": "fac90376-32c4-4782-bc75-3c3e09102fa8"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "n1",
                "name": "message",
                "value": "={{ $json.body.message ?? $json.body.text ?? $json.message ?? $json.text ?? \"\" }}",
                "type": "string"
              },
              {
                "id": "n2",
                "name": "channel",
                "value": "={{ $json.body.channel ?? $json.channel ?? \"whatsapp\" }}",
                "type": "string"
              },
              {
                "id": "n3",
                "name": "customer_id",
                "value": "={{ $json.body.sender_id ?? $json.body.from ?? $json.sender_id ?? \"anonymous\" }}",
                "type": "string"
              },
              {
                "id": "n4",
                "name": "platform",
                "value": "whatsapp",
                "type": "string"
              }
            ]
          }
        },
        "name": "Normalize WhatsApp Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          680,
          300
        ],
        "notes": "Map WhatsApp Business API payload to BOLDR intake schema",
        "id": "bee1780e-2e9f-4648-b785-822002968ccf"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://192.168.1.85:8000/api/v1/intake",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\n  message: $json.message,\n  channel: $json.channel,\n  sender_id: $json.sender_id,\n  sender_name: $json.sender_name,\n  timestamp: $json.timestamp,\n  thread_id: $json.thread_id,\n  source_id: $json.wa_message_id\n}) }}",
          "options": {}
        },
        "name": "Forward to Intelligence Loop",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          900,
          300
        ],
        "notes": "POST normalized WhatsApp message to main BOLDR Intelligence Loop webhook",
        "id": "45a6757a-82a5-4482-ac81-4712cdfaf7a6"
      }
    ],
    "connections": {
      "WhatsApp Webhook": {
        "main": [
          [
            {
              "node": "Normalize WhatsApp Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize WhatsApp Data": {
        "main": [
          [
            {
              "node": "Forward to Intelligence Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Steve Ng",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-17T06:36:07.388Z",
        "id": 127,
        "workflowId": "9Z1ZC5CMijLlTRiJ",
        "versionId": "3bcf00d9-406e-4fa3-8996-11b9118358de",
        "event": "activated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T06:36:07.460Z",
        "id": 129,
        "workflowId": "9Z1ZC5CMijLlTRiJ",
        "versionId": "3bcf00d9-406e-4fa3-8996-11b9118358de",
        "event": "activated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T06:36:07.369Z",
        "id": 126,
        "workflowId": "9Z1ZC5CMijLlTRiJ",
        "versionId": "3bcf00d9-406e-4fa3-8996-11b9118358de",
        "event": "deactivated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      },
      {
        "createdAt": "2026-05-17T06:36:07.443Z",
        "id": 128,
        "workflowId": "9Z1ZC5CMijLlTRiJ",
        "versionId": "3bcf00d9-406e-4fa3-8996-11b9118358de",
        "event": "deactivated",
        "userId": "02d126bc-281a-4c4f-b362-60fad368ae64"
      }
    ]
  }
}